/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./src/app/componentes/menu.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.menu_cabecalho__aLTHP{
    display: flex;
    height: auto;
    background-color: rgb(213, 251, 0);
}


.menu_cabecalho__aLTHP img{
    padding: 10px;
}

.menu_cabecalho__aLTHP a:link {
    -webkit-text-decoration: aqua;
            text-decoration: aqua;
    color: black;
    font-size: 25px;
   }
   
.menu_cabecalho__aLTHP a:hover {
    -webkit-text-decoration: white;
            text-decoration: white;
    color: rgb(123, 60, 39);
   }
   
.menu_pagina__rmu9q{
    display: flex;
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    height: auto;
    background-color: rgb(255, 255, 255);
}

.menu_cabecalhoMacarrao__YFUR8{
    display: flex;
    height: auto;
    background-color: rgb(241, 213, 142);
}

.menu_cabecalhoMacarrao__YFUR8 a:link {
    -webkit-text-decoration: aqua;
            text-decoration: aqua;
    color: black;
    font-size: 25px;
   }
   
   .menu_cabecalhoMacarrao__YFUR8 a:hover {
    -webkit-text-decoration: white;
            text-decoration: white;
    color: rgb(123, 60, 39);
   }
